.content-container{
    padding-left: 20px;
    padding-top: 20px;
    height:160px;
    width:600px;
    border:solid black 1px;
    display:flex;
    border-radius: 1rem;
}

img{
    border-radius: 1rem;
}

.data-container-parent{
    display:flex;
    flex-direction: column;
    gap:20px;
    margin-left:20px;
}

.data-container{
    display:flex;
    gap:50px;

}

.the-contact-submit{
    display:flex;
    gap:100px;
}